[submodule "06 -- DeepLearning - GAN Specialization/assignments"]
	path = 06 -- DeepLearning - GAN Specialization/assignments
	url = git@github.com:moukle/coursera-gan_assignments.git
[submodule "01 -- Machine Learning/assignments"]
	path = 01 -- Machine Learning/assignments
	url = git@github.com:moukle/ml-coursera.git
[submodule "05 -- Introduction to Computational Thinking/18S191"]
	path = 05 -- Introduction to Computational Thinking/18S191
	url = git@github.com:mitmath/18S191.git
[submodule "07 -- Computational thinking in Julia + COVID-19"]
	path = 07 -- Computational thinking in Julia + COVID-19/6S083-git
	url = git@github.com:mitmath/6S083.git
